doctype html
html
  head
    title MEAN Auth Sample
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 MEAN Auth Sample
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p All rights reserved
